body
{
  font-family: "Gotham-Medium";
    font-size: 50px;
}

span.logo_grey
{
  color: #5E5E5E;
}

span.logo_blue
{
  color: #33A1E2;
}

p.logo_abbrev
{
  font-size: 100px;
}

@font-face
{
  font-family: Gotham;
  src: url("http://brianlam.org/project/discoveroute/Gotham-Medium.otf");
}